/*
    Import Materialize Framework
*/
/*
  Fonts Gotham y Noto
  For Atix-Website
*/
/*============= GOTHAM =============*/
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-MEDIUM.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-BLACK.TTF") format("truetype");
  font-weight: 900;
  font-style: normal; }
/*============= NOTO =============*/
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid rgba(0, 0, 255, 0.3); }

/* Estilos Globales*/
body {
  font-family: "Noto"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham";
  text-transform: uppercase; }

p {
  line-height: 1.5; }

/* Clases Generales */
.btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px; }
  .btn:hover {
    background-color: #0094d0;
    border-color: rgba(0, 148, 208, 0.75); }

.container {
  max-width: 960px; }

.row {
  margin-bottom: 0; }

.section {
  padding: 0; }

.texto-gr {
  font-family: "Gotham", "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25; }

.text-section {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: bold; }

/* =============================================== */
/* Estilos para galeria de imagenes de Masonry */
/*
.grid {
    background: #DDD;
  
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
/* ---- .grid-item ---- 
.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
    img {
        display: block;
        max-width: 100%;
    }
}

/* =============================================== */
/* Section Hero */
section#hero {
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  height: 100vh; }
  section#hero nav {
    position: absolute;
    background: transparent; }
    section#hero nav a {
      color: rgba(255, 255, 255, 0.85);
      text-shadow: 1px 1px 1px #333;
      text-transform: uppercase;
      font-weight: bold; }
      section#hero nav a:hover {
        color: #ffffff;
        background: transparent !important; }
  section#hero .content {
    height: 100%;
    color: #ffffff; }
    section#hero .content h1 {
      display: none; }
    section#hero .content p {
      font-family: "Gotham", "Roboto", sans-serif;
      font-size: 2.25em;
      position: relative;
      top: 35%;
      text-transform: uppercase;
      line-height: 1.25; }
    section#hero .content .highlight {
      background: rgba(0, 148, 208, 0.75); }
  section#hero .wrapper-btn {
    position: relative;
    width: auto;
    text-align: center;
    bottom: 10%; }
    section#hero .wrapper-btn a {
      color: #ffffff;
      text-shadow: 1px 1px 1px #333; }

/* Section nosotros*/
section#nosotros h3 {
  font-size: 1.75rem; }
section#nosotros .mision-vision {
  background-color: #0094d0;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px; }
  section#nosotros .mision-vision i {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url("../img/assetts/sprite_atix.png");
    background-repeat: no-repeat; }
section#nosotros .mision {
  position: relative; }
  section#nosotros .mision::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 5%;
    right: -2.5px;
    width: 5px;
    height: 70%;
    background: #01aef8; }
  section#nosotros .mision i {
    background-position: 0 0; }
section#nosotros .vision i {
  background-position: -44px 1px; }
section#nosotros .mision,
section#nosotros .vision {
  text-align: center;
  padding: 15px 20px; }
  section#nosotros .mision i,
  section#nosotros .vision i {
    font-size: 2rem; }
section#nosotros #equipo {
  padding-top: 50px;
  padding-bottom: 50px; }
  section#nosotros #equipo .texto-gr {
    color: #0094d0;
    margin-bottom: 50px; }
  section#nosotros #equipo h5 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0094d0; }

/* Section servicios */
section#servicios {
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px; }
  section#servicios .text-section {
    color: #0094d0; }
  section#servicios h3 {
    font-size: 1.2rem;
    color: #0094d0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px; }
  section#servicios ul.list-servicios > li {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  section#servicios ul.list-servicios img {
    width: 100%; }
  section#servicios ul.descripcion {
    padding: 0 10px; }
    section#servicios ul.descripcion > li {
      padding: 5px 10px 10px 25px;
      position: relative;
      text-align: left; }
      section#servicios ul.descripcion > li::before {
        font-family: 'icomoon' !important;
        content: "\e900";
        position: absolute;
        left: 3px;
        top: 8px;
        font-size: 0.8rem;
        font-weight: bold;
        transition: all 0.35s; }
      section#servicios ul.descripcion > li:hover::before {
        color: #0094d0; }

/* Section Portafolio */
section#portafolio .introduccion {
  background-color: #0094d0;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px; }
section#portafolio .galeria-trabajos {
  padding-top: 50px;
  padding-bottom: 50px; }
  section#portafolio .galeria-trabajos .text-section {
    color: #0094d0;
    margin-bottom: 50px; }
  section#portafolio .galeria-trabajos .col {
    height: 260px;
    margin: 0.75rem 0; }
    section#portafolio .galeria-trabajos .col img {
      width: 100%;
      height: 100%; }

/* Section contacto */
section#contacto {
  background-color: #001928;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px; }
  section#contacto .texto-gr::after {
    content: " ";
    display: block;
    background: #0094D0;
    width: 20%;
    max-width: 90px;
    height: 5px; }
  section#contacto .text-sm {
    font-size: 0.9rem; }
  section#contacto form {
    margin: 10px auto; }
    section#contacto form .input-field {
      padding: 0;
      margin: 0; }
    section#contacto form input,
    section#contacto form textarea {
      background: #fff;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      padding-right: 10px;
      padding-left: 10px;
      color: #a5a5a5; }
    section#contacto form input {
      height: 42px; }
    section#contacto form textarea {
      height: 140px !important;
      padding: 10px;
      overflow-y: auto !important; }
    section#contacto form button {
      width: 160px; }

/* Footer */
footer {
  background-color: #0094d0;
  color: rgba(255, 255, 255, 0.8);
  padding: 25px 0 !important; }
  footer .copyright {
    font-size: 0.85rem;
    display: table; }
    footer .copyright span {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin-left: 10px; }
  footer .redes-sociales {
    text-align: right;
    margin-top: 10px; }
    footer .redes-sociales span {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 1.75;
      margin-left: 10px;
      background-image: url("../img/assetts/sprite_atix.png");
      background-repeat: no-repeat; }
      footer .redes-sociales span.instagram {
        background-position: 0 -44px; }
        footer .redes-sociales span.instagram:hover {
          background-position: -32px -44px; }
      footer .redes-sociales span.twitter {
        background-position: -64px -44px; }
        footer .redes-sociales span.twitter:hover {
          background-position: -96px -44px; }
      footer .redes-sociales span.facebook {
        background-position: -129px -44px; }
        footer .redes-sociales span.facebook:hover {
          background-position: -160px -44px; }

/* RESPONSIVE BEHAVIOR*/
/* ==========================================================================
   Responsive CSS
   ========================================================================== */
/**
 


/* 11. Global
   ========================================================================== */
/* 12. Grid
   ========================================================================== */
/* RESPONSIVE BEHAVIOR
   ========================================================================== */
/* New media queries*/
/* For small-plus devices (<= 800) */
@media screen and (max-width: 800px) {
  section#contacto .row > div {
    width: 100%; }
  section#contacto .hide-on-small-only {
    display: none; }
  section#contacto .hide-on-med-and-up {
    display: block !important; }
  section#contacto form {
    margin-bottom: 25px;
    /*
    .right-align {
        text-align: center;
    }
    */ }
    section#contacto form button {
      width: 40%;
      min-width: 160px; } }
/* For Small devices (<= 600)*/
@media screen and (max-width: 600px) {
  footer .copyright,
  footer .redes-sociales {
    text-align: center; } }
/* For X-Small devices (<= 600)*/
@media screen and (max-width: 480px) {
  section#contacto form .right-align {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
