@charset "UTF-8";
/* Loader styles */
.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.loader {
  overflow: visible;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 999; }

.loader__figure {
  top: 35%;
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid #0094d0;
  border-radius: 50%;
  -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

.loader__label {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0; }
  30% {
    height: 2em;
    width: 2em;
    border-width: 1em;
    opacity: 1; }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0; } }
@-moz-keyframes loader-figure {
  0% {
    height: 0;
    width: 0; }
  30% {
    height: 2em;
    width: 2em;
    border-width: 1em;
    opacity: 1; }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0; } }
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0; }
  30% {
    height: 2em;
    width: 2em;
    border-width: 1em;
    opacity: 1; }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0; } }
@-webkit-keyframes loader-label {
  0% {
    opacity: 0.35; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0.35; } }
@-moz-keyframes loader-label {
  0% {
    opacity: 0.35; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0.35; } }
@keyframes loader-label {
  0% {
    opacity: 0.35; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0.35; } }
/* Import Fonts*/
/* GOTHAM */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-MEDIUM.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GOTHAM-BLACK.TTF") format("truetype");
  font-weight: 900;
  font-style: normal; }
/* NOTO */
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Noto";
  src: url("../fonts/noto/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  soutline: 1px solid rgba(0, 0, 255, 0.3); }

/* Estilos Globales*/
body {
  font-family: "Noto";
  color: #666;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham";
  text-transform: uppercase; }

p {
  line-height: 1.5; }

/* Clases Generales */
.body-visible {
  overflow: visible !important; }

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px; }
  .btn:hover {
    background-color: #0094d0;
    border-color: rgba(0, 148, 208, 0.75); }

.row {
  margin-bottom: 0; }

.section {
  padding: 0; }

.texto-gr {
  font-family: "Gotham", "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.25; }

.text-section {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: bold; }

/* =============================================== */
/* Estilos para cursor*/
.typed-cursor {
  color: #0094d0;
  position: absolute;
  top: 35%;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* =============================================== */
/* Section Hero */
section#hero {
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  /* Fixed menu */ }
  section#hero #wrap_menu {
    padding-top: 20px; }
  section#hero .navbar-fixed {
    position: fixed;
    padding-top: 0 !important;
    width: 100%;
    height: 56px;
    z-index: 998;
    position: fixed;
    background: #0094d0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    section#hero .navbar-fixed .brand-logo img {
      height: 40px;
      margin-top: 6px; }
  section#hero nav {
    position: absolute;
    background: transparent;
    height: 50px !important;
    box-shadow: none;
    /* Navegacion latera├▒*/ }
    section#hero nav .brand-logo img {
      height: 47px; }
    section#hero nav .button-collapse {
      padding-left: 0; }
    section#hero nav li {
      height: 50px; }
    section#hero nav a {
      color: rgba(255, 255, 255, 0.85);
      font-size: 13px;
      font-family: Gotham;
      text-shadow: 1px 1px 1px #333;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 25px;
      height: 50px;
      line-height: 6;
      /* Item active */ }
      section#hero nav a:hover {
        color: #ffffff;
        background: transparent !important; }
      section#hero nav a.button-collapse i {
        line-height: 50px;
        color: #ffffff; }
      section#hero nav a.active {
        color: #ffffff; }
    section#hero nav .side-nav a {
      text-shadow: none;
      line-height: 4;
      color: #666; }
      section#hero nav .side-nav a.active {
        background-color: #0094d0 !important;
        color: #ffffff; }
  section#hero .content {
    height: 100%;
    color: #ffffff; }
    section#hero .content h1 {
      display: none; }
    section#hero .content span {
      font-family: "Gotham", "Roboto", sans-serif;
      font-size: 2.85rem;
      font-weight: 600;
      position: relative;
      top: 35%;
      text-transform: uppercase;
      line-height: 1.25; }
    section#hero .content .highlight {
      background: rgba(0, 148, 208, 0.75);
      position: static; }
  section#hero .wrapper-btn {
    position: relative;
    width: auto;
    text-align: center;
    bottom: 80px; }
    section#hero .wrapper-btn a {
      color: #ffffff;
      text-shadow: 1px 1px 1px #333; }

/* Section nosotros*/
section#nosotros {
  /*Seccion Equipo de trbajo*/ }
  section#nosotros h3 {
    font-size: 1.45rem; }
  section#nosotros .mision-vision {
    background-color: #0094d0;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 50px; }
    section#nosotros .mision-vision i {
      display: inline-block;
      width: 44px;
      height: 44px;
      background-image: url("../img/assetts/sprite_atix.png");
      background-repeat: no-repeat; }
    section#nosotros .mision-vision p {
      line-height: 1.25;
      font-size: 0.85rem;
      padding: 0 45px; }
  section#nosotros .mision {
    position: relative;
    text-align: center;
    padding: 15px 20px; }
    section#nosotros .mision::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 5%;
      right: -2.5px;
      width: 5px;
      height: 70%;
      background: #01aef8; }
    section#nosotros .mision i {
      background-position: 0 0; }
  section#nosotros .vision {
    text-align: center;
    padding: 15px 20px; }
    section#nosotros .vision i {
      background-position: -44px 1px; }
  section#nosotros #equipo {
    padding-top: 50px;
    padding-bottom: 20px; }
    section#nosotros #equipo .texto-gr {
      color: #0094d0;
      margin-bottom: 50px; }
    section#nosotros #equipo h5 {
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: capitalize;
      color: #0094d0;
      margin-bottom: 3px; }
    section#nosotros #equipo .galeria {
      *zoom: 1; }
    section#nosotros #equipo .galeria:before, section#nosotros #equipo .galeria:after {
      content: "";
      display: table; }
    section#nosotros #equipo .galeria:after {
      clear: both; }
    section#nosotros #equipo .galeria li {
      float: left;
      width: 20%;
      text-align: center;
      margin-bottom: 30px;
      height: 160px;
      max-height: 160px;
      overflow: hidden; }
      section#nosotros #equipo .galeria li.persona-new .wrap-image {
        background: #0094d0; }
      section#nosotros #equipo .galeria li.persona-new img {
        width: 100px;
        height: auto; }
    section#nosotros #equipo .galeria .wrap-image {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 10px; }
    section#nosotros #equipo .galeria img {
      width: 100%;
      height: 100%; }
    section#nosotros #equipo .galeria .cargo {
      font-size: 0.78rem;
      line-height: 1.5;
      color: #a3a3a3;
      text-transform: uppercase; }
    section#nosotros #equipo .galeria .descripcion {
      visibility: hidden; }

/*MODAL*/
.lean-overlay {
  opacity: 1 !important;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.75) 0, black 80%, black 100%) !important; }

.modal {
  background: transparent;
  box-shadow: none;
  color: #bfbfbf;
  text-align: center;
  top: 5% !important;
  min-height: 90% !important;
  overflow: auto; }
  .modal br {
    display: none; }
  .modal .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #bfbfbf;
    font-size: 0.9rem; }
  .modal .img-persona {
    width: 200px;
    height: 200px;
    margin: 0 auto 30px;
    border-radius: 50%;
    overflow: hidden; }
  .modal .cargo {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase; }
  .modal .divider {
    margin: 10px 20% 15px; }
  .modal h4 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400; }
  .modal .descripcion {
    padding: 1rem 10%;
    font-size: 1rem;
    font-style: italic; }

/* Section servicios */
section#servicios {
  background-color: #f1f1f1;
  padding-top: 80px;
  padding-bottom: 50px; }
  section#servicios .text-section {
    color: #0094d0; }
  section#servicios h3 {
    font-size: 1.2rem;
    color: #0094d0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px; }
  section#servicios ul.list-servicios > li {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  section#servicios ul.list-servicios img {
    width: 100%;
    max-width: 245px; }
  section#servicios ul.descripcion > li {
    padding: 5px 10px 5px 20px;
    position: relative;
    text-align: left;
    font-size: 0.85rem; }
    section#servicios ul.descripcion > li::before {
      font-family: 'icomoon' !important;
      content: "\e900";
      color: #0094d0;
      position: absolute;
      left: 5px;
      top: 10px;
      font-size: 8px;
      font-weight: bold;
      line-height: inherit;
      transition: all 0.35s; }
    section#servicios ul.descripcion > li:hover::before {
      color: #0094d0; }

/* Section Portafolio */
section#portafolio .introduccion {
  background-color: #0094d0;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px; }
section#portafolio .galeria-trabajos {
  padding-top: 50px;
  padding-bottom: 50px; }
  section#portafolio .galeria-trabajos .text-section {
    color: #0094d0;
    margin-bottom: 50px; }
  section#portafolio .galeria-trabajos .col {
    height: 260px;
    margin: 0.75rem 0; }
section#portafolio .grid-item {
  overflow: hidden;
  height: 100%; }
section#portafolio [class^="view-img"] {
  position: relative;
  height: 100%;
  overflow: hidden; }
  section#portafolio [class^="view-img"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 148, 208, 0.75);
    z-index: 2;
    transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1); }
  section#portafolio [class^="view-img"]:hover::before {
    transform: translateX(-100%);
    opacity: 0; }
  section#portafolio [class^="view-img"]:hover > img:first-child {
    transform: scale(1.05); }
  section#portafolio [class^="view-img"] > img:first-child {
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.15s ease-in-out; }
  section#portafolio [class^="view-img"] .logo-org {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 3;
    height: 35px; }
  section#portafolio [class^="view-img"] span {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3; }
section#portafolio .view-img-01::before {
  background-color: rgba(222, 15, 24, 0.75); }
section#portafolio .view-img-02::before {
  background-color: rgba(0, 153, 197, 0.75); }
section#portafolio .view-img-03::before {
  background-color: rgba(0, 125, 218, 0.75); }
section#portafolio .view-img-04::before {
  background-color: rgba(1, 218, 1, 0.75); }
section#portafolio .view-img-05::before {
  background-color: rgba(255, 255, 255, 0.75); }
section#portafolio .view-img-06::before {
  background-color: rgba(3, 2, 0, 0.75); }

/* Section contacto */
section#contacto {
  background-color: #021f2c;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 50px; }
  section#contacto .texto-gr::after {
    content: " ";
    display: block;
    background: #0094D0;
    width: 20%;
    max-width: 90px;
    height: 5px; }
  section#contacto .text-sm {
    font-size: 0.85rem; }
  section#contacto form {
    margin: 10px auto; }
    section#contacto form .input-field {
      padding: 0;
      margin: 0; }
    section#contacto form input,
    section#contacto form textarea {
      background: #fff;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      padding-right: 10px;
      padding-left: 10px;
      color: #666;
      font-size: 0.85rem; }
    section#contacto form input {
      height: 42px; }
    section#contacto form textarea {
      height: 140px !important;
      padding: 10px;
      overflow-y: auto !important; }
    section#contacto form button {
      width: 160px; }

/* Footer */
footer {
  background-color: #0094d0;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px 0 !important; }
  footer .copyright {
    font-size: 0.8rem;
    display: table; }
    footer .copyright img {
      margin-bottom: -5px; }
    footer .copyright span {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin-left: 10px; }
  footer .redes-sociales {
    text-align: right;
    margin-top: 10px; }
    footer .redes-sociales span {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 1.75;
      margin-left: 10px;
      background-image: url("../img/assetts/sprite_atix.png");
      background-repeat: no-repeat; }
      footer .redes-sociales span.instagram {
        background-position: 0 -44px; }
        footer .redes-sociales span.instagram:hover {
          background-position: -32px -44px; }
      footer .redes-sociales span.twitter {
        background-position: -64px -44px; }
        footer .redes-sociales span.twitter:hover {
          background-position: -96px -44px; }
      footer .redes-sociales span.facebook {
        background-position: -128px -44px; }
        footer .redes-sociales span.facebook:hover {
          background-position: -160px -44px; }

/* RESPONSIVE BEHAVIOR*/
/* ==========================================================================
   Responsive CSS
   ========================================================================== */
/**
 


/* 11. Global
   ========================================================================== */
/* 12. Grid
   ========================================================================== */
/* RESPONSIVE BEHAVIOR
   ========================================================================== */
/* New media queries*/
/* For tablets and up */
@media screen and (min-width: 993px) {
  .container {
    min-width: 960px; } }
/* For small-plus devices (<= 992) */
@media screen and (max-width: 992px) {
  .modal {
    width: 90%; }

  section#servicios ul.descripcion {
    padding: 0; }
    section#servicios ul.descripcion li {
      width: 245px;
      margin: 0 auto; } }
/* For small-plus devices (<= 800) */
@media screen and (max-width: 800px) {
  section#hero .content span {
    font-size: 2.5rem; }

  section#nosotros #equipo .galeria li {
    width: 25%; }

  section#contacto .row > div {
    width: 100%; }
  section#contacto .hide-on-small-only {
    display: none; }
  section#contacto .hide-on-med-and-up {
    display: block !important; }
  section#contacto form {
    margin-bottom: 25px;
    /*
    .right-align {
        text-align: center;
    }
    */ }
    section#contacto form button {
      width: 40%;
      min-width: 160px; } }
/* For Small devices (<= 600)*/
@media screen and (max-width: 600px) {
  section#hero .content span {
    font-size: 1.75rem; }

  section#nosotros .mision {
    padding-bottom: 30px !important; }
    section#nosotros .mision::before {
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 5px; }
  section#nosotros #equipo .galeria li {
    width: 33.333%; }

  footer .copyright,
  footer .redes-sociales {
    text-align: center; } }
/* For X-Small devices (<= 480)*/
@media screen and (max-width: 480px) {
  section#nosotros #equipo .galeria li {
    width: 50%; }

  section#contacto form .right-align {
    text-align: center; }

  .modal .img-persona {
    width: 150px;
    height: 150px; }

  footer .copyright img {
    margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
