/*
    Import Materialize Framework
*/
//@import "materialize";
@import "components/fonts";

//==================== Owner Styles ===================//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    outline: 1px solid rgba(0, 0, 255, 0.3);
}
//====== Utilitarios ======//
@mixin clearfix() {
     & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin pdb-50() {
    padding-bottom: 50px;
}
@mixin pdt-50() {
    padding-top: 50px;
}
//Variables
$color-cyan: rgb(0, 148, 208);
$color-linea-cyan: rgb(1, 174, 248);
$color-a-hover: rgba(0,148,208,0.75);
$color-blanco-foo: rgba(255, 255, 255, .8);
$color-azul-osc: #001928;
$color-bg-gris: rgb(241, 241, 241);
$color-blanco: #ffffff;
$color-text-gris: #a5a5a5;
$color-text-nav: rgba(255, 255, 255, 0.85);
//========================//

/* Estilos Globales*/
body {
    font-family: "Noto";
    color: #757575;//#a3a3a3;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Gotham";
    text-transform: uppercase;
}
p {
    line-height: 1.5;
}

/* Clases Generales */
.btn {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    &:hover {
        background-color: $color-cyan;
        border-color: $color-a-hover;
    }
}
.container {
    max-width: 960px;
}
.row {
    margin-bottom: 0;
}
.section {
    padding: 0;
}
.texto-gr {
    font-family: "Gotham", "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.25;
}
.text-section {
    font-size: 1rem;
    text-transform: uppercase;  
    margin-top: 0; 
    font-weight: bold;
}

/* =============================================== */
/* Estilos para cursor*/
.typed-cursor{
    position: absolute;
    top: 35%;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* =============================================== */


/* Section Hero */
section#hero {
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    /* Fixed menu */
    .navbar-fixed {
        position: fixed;
        width: 100%;
        height: 56px;
        z-index: 998;
        position: fixed;
        background: $color-cyan;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    nav {
        position: absolute;
        background: transparent;
        height: 50px !important;
        box-shadow: none;
        .brand-logo {
            img {
                height: 47px;
            }
        }
        li {
          height: 50px;
          line-height: 50px;
        }       
        a {
            color: $color-text-nav;
            font-size: 13px;
            font-family: Gotham;
            text-shadow: 1px 1px 1px #333;
            text-transform: uppercase;
            font-weight: bold; 
            &:hover {
                color: $color-blanco;
                background: transparent !important;
            }
            &.button-collapse {
              i {
                line-height: 50px;
              }
            }
            /* Item active */
            &.active {
               color: $color-blanco;
            }
        }
    }
    .content {
        //transform: translate(-50%, -50%); //Cambia el punto de referencia al centro del elemento
        //position: relative;
        //left: 50%;
        //top: 50%;
        //text-align: center;
        height: 100%;
        color: $color-blanco;
        h1{
            display: none;
        }
        span {
            font-family: "Gotham", "Roboto", sans-serif;
            font-size: 2.85rem;
            position: relative;
            top: 35%;
            text-transform: uppercase;
            line-height: 1.25;
        }  
        .highlight {
            background: $color-a-hover;
            position: static;
        }        
    }
     .wrapper-btn {
        position: relative;
        width: auto;
        text-align: center;
        bottom: 80px;
        a {
            color: $color-blanco;
            text-shadow: 1px 1px 1px #333;
        }    
    }
}
/* Section nosotros*/
section#nosotros {
    h3 {
        font-size: 1.5rem;
    }
    .mision-vision{
        background-color: $color-cyan;
        color: $color-blanco;   
        @include pdt-50;
        @include pdb-50;
        
        i {
           display: inline-block; 
           width: 44px;
           height: 44px;
           background-image: url("../img/assetts/sprite_atix.png");
           background-repeat: no-repeat;
       } 
    }
    .mision {
       position: relative;
       &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 5%;
            right: -2.5px;
            width: 5px;
            height: 70%;
            background: #01aef8;
       }
       i {
            background-position: 0 0;
       }
    }
    .vision {
        i {
           background-position: -44px 1px;
        }
    }
    .mision,
    .vision {
        text-align: center;
        padding: 15px 20px;
        i {
            font-size: 2rem;
        }
    }
    #equipo {
        @include pdt-50;
        padding-bottom: 20px;
         .texto-gr {
             color: $color-cyan;
             margin-bottom: 50px;
         }
         h5 {
             font-size: 1rem;
             font-weight: bold;
             color: $color-cyan;
             margin-bottom: 0;
         }
         .galeria {
             @include clearfix;
             li {
                 float: left;
                 width: 20%;
                 //min-width: 150px;
                 text-align: center;
                 margin-bottom: 30px;
                 max-height: 144px;
                 overflow: hidden;
                 &.persona-new {
                    .wrap-image {
                        background: $color-cyan;   
                    }
                    img {
                        width: auto;
                        height: auto;
                    }
                }
             }
             .wrap-image{
                 display: block;
                 width: 100px;
                 height: 100px;
                 border-radius: 50%;
                 overflow: hidden;
                 margin: 0 auto 10px;
             }
             img {
                 width: 100%;
                 height: 100%;                 
             }
             .cargo {
               font-size: 0.9rem;
             }
         }
     }
}
/*MODAL*/
.lean-overlay {
  opacity: 1 !important;
  background: radial-gradient(ellipse at center,rgba(0,0,0,.75)0,rgba(0,0,0,1)80%,rgba(0,0,0,1)100%) !important;
}
.modal {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #bfbfbf;
  text-align: center;
  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #bfbfbf;
    font-size: 0.9rem;
  }
  .img-persona {
    max-width: 150px;
    min-height: 150px;
    margin: 0 auto 30px;
  }
  .cargo {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .divider{
    margin: 10px 20% 15px;; 
  }
  h4 {
    color: $color-blanco;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .descripcion {
    padding: 1rem 10%;
  }
}
/* Section servicios */
section#servicios {
    background-color: $color-bg-gris;
    @include pdt-50;
    @include pdb-50;
    .text-section {
        color: $color-cyan;
    }
    h3 {
        font-size: 1.2rem;
        color: $color-cyan;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 10px; // alineado con ul.description
    }
    ul.list-servicios {
        > li {
            text-align: center;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            //padding: 15px 20px;
        }
        img {
            width: 100%;
            max-width: 245px;
        }
    }
    ul.descripcion {
        padding: 0 10px; // alineado con h3
        > li {
            padding: 5px 10px 10px 25px;
            position: relative;
            text-align: left;   
            font-size: 0.85rem;
            &::before {
                font-family: 'icomoon' !important;
                content: "\e900";
                position: absolute;
                left: 3px;
                top: 5px;
                font-size: 0.8rem;
                font-weight: bold;
                transition: all 0.35s;
            }
            &:hover {
                &::before {
                    color: $color-cyan;
                }
            }
        }
    }
}
/* Section Portafolio */
section#portafolio {
    .introduccion {
        background-color: $color-cyan;
        color: $color-blanco;
        @include pdt-50;
        @include pdb-50;
    }
    .galeria-trabajos {
        @include pdt-50;
        @include pdb-50;
        .text-section {
            color: $color-cyan;
            margin-bottom: 50px;
        }
        .col {
            height: 260px;
            margin: 0.75rem 0;
        } 
    }
    .grid-item {
        overflow: hidden;
        height: 100%;
    }
    [class^="view-img"] {
         position: relative;
         height: 100%;
         overflow: hidden;
         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,148,208,0.75);
            z-index: 2;
            transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1);  
        }
        
         &:hover {
            &::before {
                transform: translateX(-100%);
                opacity: 0;
            }
            > img:first-child {
                transform: scale(1.05);
            }
        }
        > img:first-child {
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.15s ease-in-out; //cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        .logo-cliente {
            position: absolute;
            bottom: 25px;
            left: 25px;
            z-index: 3;         
        }
        span {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: white;
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 6px;
            padding: 5px 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 3;
            
        }
    }
    .view-img-01::before {
        background-color: rgba(222, 15, 24, 0.75);
    }
    .view-img-02::before {
        background-color: rgba(0, 153, 197, 0.75);
    }
    .view-img-03::before {
        background-color: rgba(0, 125, 218, 0.75);
    }
    .view-img-04::before {
        background-color: rgba(1, 218, 1, 0.75);
    }
    .view-img-05::before {
        background-color: rgba(255, 255, 255, 0.75);
    }
    .view-img-06::before {
        background-color: rgba(3, 2, 0, 0.75);
    }
}
/* Section contacto */
section#contacto {
    background-color: $color-azul-osc;
    color: $color-blanco;
    @include pdt-50;
    @include pdb-50;
    .texto-gr {
        &::after {
            content: " ";
            display: block;
            background: #0094D0;
            width: 20%;
            max-width: 90px;
            height: 5px;
        }
    }
    .text-sm {
        font-size: 0.85rem;
    }
    form {
        margin: 10px auto;
        .input-field {
            padding: 0;
            margin: 0;
        }
        input,
        textarea {
            background: #fff;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            padding-right: 10px;
            padding-left: 10px;
            color: $color-text-gris;
        }
        input {
            height: 42px; 
        }
        textarea {
            height: 140px !important;
            padding: 10px;
            overflow-y: auto !important; 
        }
        button {
            width: 160px;
        }
    }
}

/* Footer */
footer {
    background-color: $color-cyan;
    color: $color-blanco-foo ;
    padding: 25px 0 !important;
    .copyright {
        font-size: 0.8rem;
        display: table;
        span {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-left: 10px;
        }
    }
    .redes-sociales {
        text-align: right;
        margin-top: 10px;
        //display: table;
        
        span {
            display: inline-block;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 1.75;
            margin-left: 10px;
            background-image: url("../img/assetts/sprite_atix.png");
            background-repeat: no-repeat;
            
            &.instagram {
                background-position: 0 -44px;
                &:hover{
                   background-position: -32px -44px; 
                }
            }
            &.twitter {
                background-position: -64px -44px;
                &:hover {
                    background-position: -96px -44px;
                }
            }
            &.facebook {
                background-position: -128px -44px;
                &:hover{
                    background-position: -160px -44px;
                }
            }
        }
    }
}


/* RESPONSIVE BEHAVIOR*/
@import "components/responsive";