/* ==========================================================================
   Responsive CSS
   ========================================================================== */
/**
 


/* 11. Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


/* 12. Grid
   ========================================================================== */

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

/* RESPONSIVE BEHAVIOR
   ========================================================================== */
/* New media queries*/
$small-plus-screen: 800px !default;
$extra-small-screen: 480px;
/* For tablets and up */
@media screen and (min-width: $medium-screen-up) {
    .container {
        min-width: 960px;
    }
}

/* For small-plus devices (<= 992) */
@media screen and (max-width: $medium-screen) {
    .modal {
        width: 90%;
    }
    section#servicios{
      ul.descripcion {
        padding: 0;
         li {
            width: 245px;
            margin: 0 auto;
        }
      }     
    } 
}

/* For small-plus devices (<= 800) */
@media screen and (max-width: $small-plus-screen) {
    section#hero {
        .content span {
            font-size: 2.5rem;
        }   
    } 
    section#nosotros {
        #equipo{ 
            .galeria{ 
                li {
                    width: 25%;
                }
            }
        }
    }
    section#contacto {
        .row >div {
            width:100%;
        }
        .hide-on-small-only {
            display: none;
        }
        .hide-on-med-and-up {
            display: block !important;
        }
       form {
           margin-bottom: 25px;
           button {
               width: 40%;
               min-width: 160px
           }
           /*
           .right-align {
               text-align: center;
           }
           */
       } 
    }
}
/* For Small devices (<= 600)*/
@media screen and (max-width: $small-screen) {
    section#hero {
        .content span {
            font-size: 1.75rem;
        }   
    } 
    section#nosotros {
        .mision {
            padding-bottom: 30px !important;
            &::before {
                bottom: 0;
                left: 10%;
                width: 80%;
                height: 5px;
            }
        }
        #equipo{ 
            .galeria{ 
                li {
                    width: 33.333%;
                }
            }
        }
    }
    footer {
        .copyright,
        .redes-sociales {
            text-align: center;
        }
    }
  }

/* For X-Small devices (<= 480)*/
@media screen and (max-width: $extra-small-screen) {
 
    section#nosotros {
        #equipo{ 
            .galeria{ 
                li {
                    width: 50%;
                }
            }
        }
    }
    section#contacto {
        form {
            .right-align {
                text-align: center;
            }
        }
    }
    .modal {
        .img-persona {
            width: 150px;
            height: 150px;
        }   
    }
    footer .copyright img {
        margin-bottom: 0;
    }
}